@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
 overflow-x: hidden;
  background: linear-gradient(rgb(163, 249, 255),rgb(243, 241, 111),rgb(243, 133, 166));
  min-height: 100vh;
}

#header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}
#header .logo{
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
#header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#header ul li{
  list-style: none;
  margin-left: 20px;
}

#header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;

}

#header ul li a:hover,
#header ul li a.active
{
  background: #094b65;
  color: white;

}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}
section img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;  
}
section #text{
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho', cursive;
  transform: translateY(-50%);
}
section #text span{
font-size: 0.20em;
letter-spacing: 2px;
font-weight: 400;
font-family: 'Poppins', sans-serif;
}
#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);

}
.sec{
  position: relative;
  padding: 100px;
  background: #094b65;
}

.sec h2{
  font-size: 100px;
  color: azure;
  text-align: center;
}
/* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

/* .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} */

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1100px;
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  margin: 0 auto;
}

/*stretch vertically*/
.vertical {
  grid-row: span 2;
}

/*stretch horizontally*/
.horizontal {
  grid-column: span 2;
}
/*horizontally and vertically*/
.big {
  grid-column: span 2;
  grid-row: span 2;
}

h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
}

/* 
img {
  width: 400px;
  height: 250px;
  margin: 10px;
  transition: all 0.3s;
} */

.container div {
  overflow: hidden;
}

.container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: all 0.3s;
}

.container div img:hover {
  filter: brightness(1);
  transform: scale(1.2);
}

/* img:hover {
  transform: scale(1.1);
} */

@media screen and (max-width: 560px) {
  .vertical {
    grid-row: span 1;
  }

  .horizontal {
    grid-column: span 1;
  }

  .big {
    grid-column: span 1;
    grid-row: span 1;
  }
}


#forest{
  height: 500px;
  width: 500px;
  left: 1030px;
  top: 100px;
}
#forest1{
  width: 350px;
  height: 200px;
  top: 260px;
  left: 50px;
}